* {
  box-sizing: border-box;
}

body {
  background-color: wheat;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  min-width: 400px;
  padding: 30px;
  background-color: rgba(4, 4, 4, 0.4);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.gameStatus {
  margin-top: 40px;
  padding: 20px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid;
  color: white;
}

.history {
  margin: 0px;
}